/* ===============================================
========== USE @font-face to load fonts ==========
==================================================*/

/*These are all of the custom fonts you will have to link.*/
@font-face {
font-family:"ff-dagny-web-pro-1";
src:url("../fonts/DagnyWebPro.eot");
}

@font-face {
font-family:"ff-dagny-web-pro-light";
src:url(../fonts/DagnyWebPro-Xlight.woff) format("woff");
}

@font-face {
font-family:"ff-dagny-web-pro-2";
src:url(../fonts/DagnyWebPro.woff) format("woff");
}

@font-face {
font-family:"ff-dagny-web-pro-bold";
src:url(../fonts/DagnyWebPro-Bold.woff) format("woff");
}

/* ===============================================
================ Some TA styling… ================
==================================================*/

/*The general width of the layout; scrollbars will appear if window is less wide.*/
body{
min-width:1040px;
}

/*Take note of how to apply use of a custom font*/
h1,h2,h3,h4,h5,p {
padding:0;
margin:0;
font-family:"ff-dagny-web-pro-1","ff-dagny-web-pro-2","Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: auto;
    width: 400px;
    height: 200px;
    background-color: black;
    color: white;
}

/*css for the navigation bar*/
#header_wrapper {
    background-color: #F37200;
    position: fixed;
    width: 1040px;
    height: 55px;
    top: 0px;
    z-index: 5;
}

#top_nav {
    display: inline;
}

#header_wrapper a {
    color: white;
    text-decoration: none;
}

#top_nav li + li {
    margin-left: 25px;
}

#top_nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    font-family:"ff-dagny-web-pro-1","ff-dagny-web-pro-2","Helvetica Neue", Helvetica, Arial, sans-serif;
}

#logo {
    font-family:"ff-dagny-web-pro-1","ff-dagny-web-pro-2","Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    margin-left: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*the content*/
#top_container {
    position: relative;
    margin-top: 100px;
}

#picture_panel h2 {
    font-family:"ff-dagny-web-pro-light","ff-dagny-web-pro-2","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 33px;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

.home_icons {
    margin-top: 30px;
    margin-left: 30px;
}

.home_icons div {
    display: inline-block;
    width: 300px;
}

.home_icons div + div {
    margin-left: 30px;
}

.icon_column h3 {
    font-family: "ff-dagny-web-pro-2","ff-dagny-web-pro-2","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

.icon_column p {
    color: #EAE8EB;
    text-align: center;
    margin-top: 10px;
}

.learn_more {
    display:block;
    color: white;
    text-decoration: none;
    background-color: #565755;
    padding: 3px 10px 3px 10px;
    margin-top: 10px;
}

/*the grey bar*/
#sign-up_button-panel {
    background-color: #242424;
    height: 120px;
    margin-top: 50px;
}

#sign-up_button-panel * {
    color: #EAE8EB;
    display: inline-block;
}

#sign-up_button-panel * + * {
    margin-left: 50px;
}

#sign-up_button-panel :first-child {
    margin-left: 200px;
    margin-top: 50px;
}

/*Find us on the web */
#page-content {
    background-color: white;
    position: relative;
    height: 400px;
}

#left-panel-float {
    float: left;
    width: 29%;
}

#left-panel-float h2 {
    margin-top: 20px;
    margin-left: 20px;
}

#left-panel-float li {
    list-style-type: none;
}

#left-panel-float a {
    color: #F26E00;
}

#left-panel-float h2 {
    color: black;
}

#right-panel-content {
    float: right;
    width: 70%;
    background-color: #FCFCFC;
}

#right-panel-content h3 {
    font-family: "ff-dagny-web-pro-2","ff-dagny-web-pro-2","Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-size: 23px;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}

#right-panel-content p {
    font-family: "ff-dagny-web-pro-2","ff-dagny-web-pro-2","Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 70px;
}

#right-panel-content p + p {
    margin-top: 10px;
}

/*bottom bar */
#footer_nav {
    border-top-style: solid;
    border-top-color: gray;
    border-top-width: 3px;
}

#footer_nav_wrapper {
    background-color: #EEEEEE;
    height: 55px;
    clear: both;
    position:relative;
}

#footer_nav_wrapper ul {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer_nav_wrapper li {
    display: inline;
    font-family: "ff-dagny-web-pro-bold","ff-dagny-web-pro-2","Helvetica Neue", Helvetica, Arial, sans-serif;
}

#footer_nav_wrapper a {
    color: gray;
    text-decoration: none;
} 

#footer_nav_wrapper li + li {
    margin-left: 50px;
}






