/* ===============================================
========== USE @font-face to load fonts ==========
==================================================*/

/*These are all of the custom fonts you will have to link.*/
@font-face {
font-family:"ff-dagny-web-pro-1";
src:url("../fonts/DagnyWebPro.eot");
}

@font-face {
font-family:"ff-dagny-web-pro-light";
src:url(../fonts/DagnyWebPro-Xlight.woff) format("woff");
}

@font-face {
font-family:"ff-dagny-web-pro-2";
src:url(../fonts/DagnyWebPro.woff) format("woff");
}

@font-face {
font-family:"ff-dagny-web-pro-bold";
src:url(../fonts/DagnyWebPro-Bold.woff) format("woff");
}

/* ===============================================
================ Some TA styling… ================
==================================================*/

/*The general width of the layout; scrollbars will appear if window is less wide.*/
body{
min-width:1040px;
}

/*Take note of how to apply use of a custom font*/
h1,h2,h3,h4,h5,p {
padding:0;
margin:0;
font-family:"ff-dagny-web-pro-1","ff-dagny-web-pro-2","Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: auto;
    width: 400px;
    height: 200px;
    background-color: green;
}

/*css for the navigation bar*/
#header_wrapper {
    background-color: #F37200;
    position: fixed;
    width: 800px;
    height: 55px;
    top: 0px;
}

#top_nav {
    display: inline;
}

#header_wrapper a {
    color: white;
    text-decoration: none;
}

#top_nav li + li {
    margin-left: 25px;
}

#top_nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    font-family:"ff-dagny-web-pro-1","ff-dagny-web-pro-2","Helvetica Neue", Helvetica, Arial, sans-serif;
}

#logo {
    font-family:"ff-dagny-web-pro-1","ff-dagny-web-pro-2","Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    margin-left: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


