* { 
  margin: 0; 
  padding: 0; 
}

.top-area {
    width: 100%;
    height: 600px;
    position: relative;
}

/*used https://codepen.io/dudleystorey/pen/PZyMrd* to help me understand how to code out a video background, and then I altered the code, so it fit the attributes that I wanted*/
/*video css*/
.video-background {
  background: #000;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
/*  z-index: -99;*/
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { 
      height: 300%; 
      top: -100%; 
    }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { 
      width: 300%; 
      left: -100%; 
    }
}

@media all and (max-width: 600px) {
.vid-info { 
    width: 50%; 
    padding: .5rem; 
    }
.vid-info h1 { 
    margin-bottom: .2rem; 
    }
}

@media all and (max-width: 500px) {
.vid-info .acronym { 
    display: none; 
    }
}

/*video word overlays*/
.top-area-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    color: white;
    text-align: center;
}

.top-area-content h1 {
    font-size: 75px;
    padding-top: 10px;
}

.top-area-content h3 {
    font-size: 25px;
    font-style: italic;
}

/*navigation bar*/
#header_wrapper {
    position: absolute;
    width: 100%;
    z-index: 1;
}

#header_wrapper * {
    display: inline;
    color: #EDEEEF;
    text-decoration: none;
}

#top_nav li {
    font-size: 20px;
    margin-left: 25px;
}

#logo-image {
    padding-top: 20px;
    padding-left: 20px;
    width: 30px;
    height: 30px;
}

/*about content*/
.about-me {
    position: relative;
    background-color: #EDEEEF;
    display: flex;
}

.about-content {
    color: black;
    text-align: center;
    padding: 50px 20px 50px 20px;
}

.about-content p {
    padding-top: 25px;
    line-height: 180%;
}

